.joke-comparison {
  text-align: center;
  padding: 2%;
}

.jokes-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 2%;
}

.close-button {
  position: absolute;
  top: 1%;
  right: 1%;
  background: transparent;
  border: none;
  font-size: 1.5em;
  color: #aaa;
  cursor: pointer;
}

.close-button:hover {
  color: #ff5c5c;
}

.additional-options {
  margin-top: 3%;
}

.additional-options button {
  margin: 0 1%;
  padding: 0.5em 1em;
  color: #fff;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.additional-options .button {
  background-color: #5695fc;
}

.additional-options .button:hover {
  background-color: #337ffb;
}

.additional-options .both-button {
  background-color: #00b33c;
}

.additional-options .both-button:hover {
  background-color: #009933;
}

.additional-options .neither-button {
  background-color: #ff5c5c;
}

.additional-options .neither-button:hover {
  background-color: #f93838;
}