.footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.footer-link:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding-bottom: 3em;
}